{% extends 'base.html' %}
{% block title %}Redis Explorer{% endblock %}
{% block content %}
<!--<p>Use with care, particularly in a production environment.</p>-->
<div id="search">
    <h1>Search for keys by pattern</h1>
    <form>
        <input type="text" name="key_pattern" class="searchBox"/>
        <input type="submit" name="search" value="Search" />
    </form>
</div>
<hr>
<div id="patternsSearch">
    <h1>Search for keys with patterns</h1>
    <form>
        <input type="text" name="key_patterns" class="searchBox"/>
        <input type="submit" name="search" value="Search" />
        <br><br>
        Delimitor
        <select name="delimitor" class="delimitorSelect">
            <option value="space">Space</space>
            <option value="comma">Comma</space>
        </select>
        Strip Quotes
        <input type="checkbox" name="stripQuotes">
    </form>
</div>
{% endblock %}
